@inherits LayoutComponentBase

<PageTitle>CarrosClient</PageTitle>

<div class="page" style="margin: 0; padding: 0; width: 100vw;">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="margin: 0; padding: 0; width: 100%;">
        <div class="content" style="padding: 0; margin: 0;">
            @Body
        </div>
    </main>
</div>
